<div class="binance-orders-history">
    <form>
        <div>
            <div id="tab-a4" class="settingstab-content">
            </div>
        </div>
    </form>
    <div id="wrap2" class="uk-visible@m">
        <div class="sortButtons">
            <span class="sortButton" @click="sortDataBy(0)">ID
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
                  </span>
            <span class="sortButton" @click="sortDataBy(101)">Price
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
          
                  </span>
            <span class="sortButton" @click="sortDataBy(201)">Original Quantity
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
          
                  </span>
        </div>
        <div class="sortIcon"></div>
    </div>
    <div id="wrap" class="uk-visible@m">
        <div class="dropdown">
            <div class="dropbtn" style="text-transform: capitalize;">{{ selectedPair }}
                <i class="fa fa-caret-down "></i>
            </div>
            <div class="dropdown-content ">
                <a v-for="val in pairs " @click="changeSelectedPair(val) " style="color:white; text-transform: capitalize; "> {{ val.toUpperCase() }}</a>
            </div>
        </div>
    </div>
    <div class="uk-hidden@m">
        <div class="container">
            <input v-model="searchString" name="search" type="text" placeholder="Search ...">
            <div class="search"></div>
        </div>
        <div class="container2">
            <div id="mobileDropdown">
                <span class="sortButtonD" @click="sortDataBy(0)">ID
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(101)">Price
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(201)">Original Quantity
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span><br>
            </div>

            <div class="search2"></div>
        </div>

    </div>
    <div id="hello " data-simplebar data-simplebar-auto-hide="false ">
        <table class="svh-table display nowrap " style="width:100% " data-scroll-x="true " data-scroll-y="294px ">
            <thead>
                <tr>
                    <th id="tableHeaders ">Order ID</th>
                    <th id="tableHeaders ">Symbol</th>
                    <th id="tableHeaders ">Type</th>
                    <th id="tableHeaders ">Cummulative Quantity</th>
                    <th id="tableHeaders ">Executive Quantity</th>
                    <th id="tableHeaders ">Iceberg Quantity</th>
                    <th id="tableHeaders ">Original Quantity</th>
                    <th id="tableHeaders ">Price</th>
                    <th id="tableHeaders ">Side</th>
                    <th id="tableHeaders ">Status</th>
                    <th id="tableHeaders ">Stop Price</th>
                    <th id="tableHeaders ">Time</th>
                    <th id="tableHeaders ">Time In Force</th>
                </tr>
            </thead>
            <tbody v-if="spinnerFlag ">
                <spinner id="spinner "></spinner>
            </tbody>
            <tbody v-else>
                <tr v-for="historyRow in history ">
                    <td>{{ historyRow.orderId }}</td>
                    <td>{{ historyRow.symbol }}</td>
                    <td>{{ historyRow.type }}</td>
                    <td>{{ historyRow.cummulativeQuoteQty }}</td>
                    <td>{{ historyRow.executedQty }}</td>
                    <td>{{ historyRow.icebergQty }}</td>
                    <td>{{ historyRow.origQty }}</td>
                    <td>{{ historyRow.price }}</td>
                    <td>{{ historyRow.side }}</td>
                    <td>{{ historyRow.status }}</td>
                    <td>{{ historyRow.stopPrice }}</td>
                    <td>{{ formatDateTime(historyRow.time) }}</td>
                    <td>{{ historyRow.timeInForce }}</td>
                </tr>
                <tr v-if="history.length===0 ">
                    <td colspan="4 ">
                        {{ displayText }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>