/* trade modal container css */
.trade-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

/* dialog box css */

.trade-dialog-box {
  // position: absolute;
  // // top: 50%;
  // // left: 50%;
  // // transform: translate(-50%,-50%);
  // width: 50%;
  height: 100%;
  display: block;
  // resize: both;
  // overflow: auto;
  background: var(--main-bg-color);
  border-radius: 2px;
  // min-width: 40vw;
  // min-height: 40vh;
  border: 1px solid var(--header-border-color);
  // z-index:999;
  min-height: fit-content;
}

.header {
  background: var(--header-bg-color);
  width: 100%;
  height: 25px;
  border: 1px solid var(--header-border-color);
}

.footer {
  position: relative;
  // background: var(--header-bg-color);
  width: 100%;
  height: 50px;
  top: calc(100% - 110px);
}

.cross-btn {
  position: absolute;
  right: 10px;
  color: var(--primary-text-color);
  line-height: 25px;
  font-size: 2rem;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.4s;
  padding: 0 8px;
}

.cross-btn:hover {
  opacity: 1;
}

.modal-heading {
  position: absolute;
  left: 10px;
  line-height: 25px;
  font-size: 1rem;
  color: white;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}



//* ends */

.dropdown-container {
  display: flex;
}

.hidden {
  display: none;
}

.dropdown {
  border: 10px solid red;
}

form {
  padding: 10px;
}

.right {
  float: right;
}

#startDate {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid var(--header-border-color) !important;
  color: white !important;
}

.flagsDiv {
  display: inline-block;
}

.container {
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: var(--header-border-color);
  opacity: 0.5;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: var(--header-border-color);
  opacity: 1;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: var(--sec-mobile-bg-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  // /* top: 5px; */
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.calcBtn {
  color: white;
  float: right;
  background-color: var(--border-right-color);
  padding: 4px 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2b2e31;
}

.slider {
  width: 200px;
  margin: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
  /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f));
  /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top, #529de1 0, #245e8f 100%);
  /* older mobile safari and android > 2.2 */
  ;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}


.leverageBtn {
  width: 18px;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px #999;
  position: absolute;
  right: 0;
  top: 24px;
}

.leverageBtn:hover {
  background-color: #3e8e41
}

.leverageBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}