@import "../../../../assets/scss/base/mixins.scss";
.trade-pane-content {
  border-bottom: 1px solid var(--header-border-color);

  @include breakpoint(medium) {
    padding: 0 0 20px 0px !important;
  }
  @media screen and (max-width: 1500px) and (min-width: 1300px) {
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
      font-size: 12px;
    }
  }
}

.trade-pane {
  display: table;
  width: 100%;
  padding: 5px;
}

// #tab-bar > div > ul {
//   overflow-x: scroll !important;
// }

// .sidebar-inner {
//   .trade-pane.sidebar-inner {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     align-items: center;
//     align-content: center;
//     .trade-pane-content,
//     .livetrades {
//       height: 50%;
//       width: 100%;
//     }
//   }
// }