.c-white {
	color: var(--primary-text-color) !important;
}
.c-black {
	color: #000000 !important;
}
.c-green {
	color: var(--green-color) !important;
}
.c-red {
	color: var(--red-color) !important;
}
.c-pancho {
	color: var(--mobile-bg-color) !important;
}
.c-baliHai {
	color: var(--pri-label-color) !important;
}


.bg-white {
	background-color: var(--primary-text-color) !important;
}
.bg-black {
	background-color: #000000 !important;
}
.bg-green {
	background-color: var(--green-color) !important;
}
.bg-red {
	background-color: var(--red-color) !important;
}
.bg-pancho {
	background-color: var(--mobile-bg-color) !important;
}
.bg-bali-hai {
	background-color: var(--pri-label-color) !important;
}
.bg-santa-fe {
	background-color: var(--mobile-bg-color) !important;
}
.bg-mirage {
	background-color: #1a2b30 !important;
}
.bg-ebony-clay {
	background-color: var(--header-bg-color) !important;
}