h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
   }
   
   a,a:hover{text-decoration:none;}
   
   .text-underline{text-decoration:underline;}
   
   .os-light {
     font-weight: 300;
   }
   .os-regular {
     font-weight: 400;
   }
   .os-semibold {
     font-weight: 600;
   }