@import '../../../assets/scss/base/mixins.scss';

.uk-modal-body {
    padding: 0;
}

.uk-close{
    opacity:1;
    &:hover,&:focus{
      opacity:1;
    }
  }
  .uk-close:after{
      display:block;content:"\f11b";font-family:Curry-Coin;
  }
  .uk-modal-dialog{
    padding:40px 30px;background:var(--secondary-modal-bg-color);width:480px;@include roundedCorners(5);
    .uk-close:after{
      content:"\f11b";font-size:32px;color:var(--primary-text-color);
    }
  }
  .uk-modal-dialog>.uk-close:first-child{
    margin:-2px 10px 0 0;float:right;position:absolute;right:20px;z-index:1;
  }
  
  .dc-row{
    position:relative;padding:10px 0 10px 100px;border-bottom:1px solid #2d393d;min-height:20px;@include box-sizing(content-box);
    .dc-title{
      position:absolute;left:0;top:10px;
    }
    .dc-generate{
      position:absolute;right:0;top:10px;font-size:14px;color: var(--primary-text-color);text-decoration:underline;cursor:pointer;
    }  
  }