<!-- <div class="email-verify">
    <form @submit.prevent="handleSubmit">
        <table>
            <tr>
                <td>
                    <input v-if="!otpSent" name="phoneNumber" placeholder="Enter Phone with Country Code" v-model="formValue.phoneNumber" />
                    <p v-else="">OTP sent to {{formValue.phoneNumber}}</p>
                </td>
            </tr>
            <tr v-if="otpSent">
                <td>
                    <input name="email" placeholder="Enter OTP" v-model="formValue.phoneOtp" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Submit" :value=buttonText />
                </td>
            </tr>
        </table>
    </form>
</div> -->

<form @submit.prevent="handleSubmit">
            <div class="form-area">
                <vk-grid class="f1-form-grid">
                    <div class="uk-width-1-1">
                        <div class="form-grp">
                            <div class="form-elm">
                                <input class="form-ctrl" v-if="!otpSent" name="phoneNumber" placeholder="Enter Phone with Country Code" v-model="formValue.phoneNumber" type="phone">
                                <p class="otpPext" v-else="">OTP sent to {{formValue.phoneNumber}}</p>
                            </div>
                        </div>
                    </div>
                </vk-grid>

                <vk-grid class="f1-form-grid" v-if="otpSent">
                        <div class="uk-width-1-1">
                            <div class="form-grp">
                                <div class="form-elm">
                                    <input class="form-ctrl" type="number" placeholder="Enter OTP" v-model="formValue.phoneOtp">
                                </div>
                            </div>
                        </div>
                    </vk-grid>
        
                <div class="pt40">
                    <vk-button class="pl40 pr40 mr10" htmlType="submit">Submit</vk-button>
                    <vk-button class="pl40 pr40" v-if="otpSent" @click="sendOtp">Resend OTP</vk-button>
                </div>

            </div>
        </form>