<div class="bitfinex-trading-history">
    <div id="wrap2" class="uk-visible@m">
        <div class="sortButtons">
            <div class="sortButtons">
                <span class="sortButton" @click="sortDataBy(0)">Symbol
                          <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
                        </span>
                <span class="sortButton" @click="sortDataBy(101)">P/L Percentage
                                <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
                      
                              </span>
                <span class="sortButton" @click="sortDataBy(201)">Status
                          <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
                
                        </span>
                <span class="sortButton" @click="sortDataBy(301)">Amount
                            <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
                  
                          </span>

            </div>
        </div>
        <div class="sortIcon"></div>
    </div>
    <div id="wrap" class="uk-visible@m">
        <div class="right">
            <form v-on:submit.prevent autocomplete="off">
                <input id="search" v-model="searchString" name="search" type="text" placeholder="Search by Currency">
                <input id="search_submit" value="Rechercher" type="submit">
            </form>
        </div>

    </div>
    <div class="uk-hidden@m">
        <div class="container">
            <input v-model="searchString" name="search" type="text" placeholder="Search ...">
            <div class="search"></div>
        </div>
        <div class="container2">
            <div id="mobileDropdown">
                <span class="sortButtonD" @click="sortDataBy(0)">Symbol
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(101)">P/L Percentage
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(201)">Status
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(301)">Amount
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span> <br>
            </div>

            <div class="search2"></div>
        </div>

    </div>
    <div id="hello" data-simplebar data-simplebar-auto-hide="false">
        <table class="svh-table display nowrap" style="width:100%" data-scroll-x="true" data-scroll-y="294px">
            <thead>
                <tr>
                    <th id="tableHeaders">SYMBOL</th>
                    <th id="tableHeaders">STATUS</th>
                    <th id="tableHeaders">AMOUNT</th>
                    <th id="tableHeaders">BASE PRICE</th>
                    <th id="tableHeaders">MARGIN FUNDING</th>
                    <th id="tableHeaders">MARGIN FUNDING TYPE</th>
                    <th id="tableHeaders">P/L</th>
                    <th id="tableHeaders">P/L PERCENTAGE</th>
                    <th id="tableHeaders">LIQUIDATION PRICE</th>
                    <th id="tableHeaders">LEVERAGE</th>
                    <th id="tableHeaders">ID</th>
                    <th id="tableHeaders">MTS CREATE</th>
                    <th id="tableHeaders">MTS UPDATE</th>
                </tr>
            </thead>
            <tbody v-if="spinnerFlag">
                <spinner id="spinner" />
            </tbody>
            <tbody v-else>
                <tr v-for="historyRow in history">
                    <td>{{ historyRow.SYMBOL }}</td>
                    <td>{{ historyRow.STATUS }}</td>
                    <td>{{ historyRow.AMOUNT }}</td>
                    <td>{{ historyRow.BASE_PRICE }}</td>
                    <td>{{ historyRow.MARGIN_FUNDING }}</td>
                    <td>{{ historyRow.MARGIN_FUNDING_TYPE }}</td>
                    <td>{{ historyRow.PL }}</td>
                    <td>{{ historyRow.PL_PERC }}</td>
                    <td>{{ historyRow.PRICE_LIQ }}</td>
                    <td>{{ historyRow.LEVERAGE }}</td>
                    <td>{{ historyRow.ID }}</td>
                    <td>{{ formatDateTime(historyRow.MTSCREATE) }}</td>
                    <td>{{ formatDateTime(historyRow.MTSUPDATE) }}</td>
                </tr>
                <tr v-if="history.length === 0">
                    <td colspan="4">
                        {{ displayText }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>