<div class="bequant-deposit-history">
    <div id="wrap2" class="uk-visible@m">
        <div class="sortButtons">
            <span class="sortButton" @click="sortDataBy(0)">Updated At
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
                  </span>
            <span class="sortButton" @click="sortDataBy(101)">Index
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
          
                  </span>
            <span class="sortButton" @click="sortDataBy(201)">Status
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
          
                  </span>
            <span class="sortButton" @click="sortDataBy(301)">Amount
                    <img class="sortIconBtn" src="../../../assets/sort-icon.svg"/>
          
                  </span>
        </div>
        <div class="sortIcon"></div>
    </div>
    <div id="wrap" class="uk-visible@m">
        <div class="right">
            <form v-on:submit.prevent autocomplete="off">
                <input id="search" v-model="searchString" name="search" type="text" placeholder="Search by Currency">
                <input id="search_submit" value="Rechercher" type="submit">
            </form>
        </div>

    </div>
    <div class="uk-hidden@m">
        <div class="container">
            <input v-model="searchString" name="search" type="text" placeholder="Search ...">
            <div class="search"></div>
        </div>
        <div class="container2">
            <div id="mobileDropdown">
                <span class="sortButtonD" @click="sortDataBy(0)">Updated At
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(101)">Index
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(201)">Status
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span><br>
                <span class="sortButtonD" @click="sortDataBy(301)">Amount
                              <img class="sortIconBtn" src="../../../assets/sort-icon.svg" />
                  
                            </span> <br>
            </div>

            <div class="search2"></div>
        </div>

    </div>
    <div id="hello" data-simplebar data-simplebar-auto-hide="false">
        <table class="svh-table display nowrap" style="width:100%" data-scroll-x="true" data-scroll-y="294px">
            <thead>
                <tr>
                    <th id="tableHeaders">ID</th>
                    <th id="tableHeaders">Index</th>
                    <th id="tableHeaders">Status</th>
                    <th id="tableHeaders">Currency</th>
                    <th id="tableHeaders">Amount</th>
                    <th id="tableHeaders">Last Updated At</th>
                </tr>
            </thead>
            <tbody v-if="spinnerFlag">
                <spinner id="spinner"></spinner>
            </tbody>
            <tbody v-else>
                <tr v-for="historyRow in history">
                    <td>{{ historyRow.id }}</td>
                    <td>{{ historyRow.index }}</td>
                    <td>{{ historyRow.status }}</td>
                    <td>{{ historyRow.currency }}</td>
                    <td>{{ historyRow.amount }}</td>
                    <td>{{ historyRow.updatedAt }}</td>
                </tr>
                <tr v-if="history.length === 0">
                    <td colspan="4">
                        {{ displayText }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>